
.counter{
  display: flex;
  justify-content: center;
  font-size: 5rem;
}
.counter *{
  margin-block-end: 0rem;
}
.counter *{
  display: inline-block;
}
.counter-description{
  display: flex;
  justify-content: center;
  color: #bbc2c3;
  font-size: 1rem;
  font-weight: 600;
}

.counter-description *{
  padding:0 1.8rem;
  margin-block-start: 0rem;
}
